header {
    width: 990px;
    height: 80px;
    background-color: #ffffff;
    margin: 0 auto;
}

body {
    background-color: #f2f2f2;
}

.logo {
    float: left;
    width: 230px;
    margin-top: 10px;
}

.logo a {
    height: 60px;
    line-height: 180px;
    display: block;
    background: url(http://www.beiwo888.com/css/logo.gif) no-repeat;
    overflow: hidden;
}

.search {
    float: left;
    border: 1px solid;
    margin-top: 22px;
    border: 0;
    margin-left: 50px;
}

.search .tx {
    width: 260px;
    border: solid #EFEFEF;
    border-width: 1px 1px 1px 0;
    background: #fff url(http://www.beiwo888.com/css/g.gif) no-repeat 96% 10px;
}

.search .btn {
    width: 68px;
    font-size: 14px;
    background-color: #656B81;
    color: #fff;
    padding: 0;
    margin: 0 0 0 3px;
    border: none
}

.search input{
    display: inline-block;
    height: 34px;
    
}

.user-info {
    float: right;
    margin-top: 22px;
}

.user-info li {
    float: right;
    display: block;
    width: 87px;
    height: 30px;
    font: 700 16px/30px 'Microsoft YaHei';
}

.nav {
    height: 43px;
    line-height: 42px;
    background-color: #3E4452;
    border: none;

}

.clear {
    clear:both
}

 .nav ul li a {
    font-size: 14px;
    color: #fff;
   
}

.nav ul li {
    padding: 0 14px;
    display: block;
    float: left;
}

.nav ul li:first-child  {
    border: none;
    background-color: #E54535;
}

.nav .hot-types {
    height: 37px;
    line-height: 37px;
    border: 1px solid #E8E8E8
}

.nav .hot-types p a {
    padding-left: 10px;
}